@import './root.scss';

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  padding: {
    top: 230px;
    bottom: 250px;
  }
  .home-icons {
    display: none;
  }
  .polygon-down {
    // position: absolute;
    background-color: red;
    .polygon-1 {
      position: absolute;
      width: 232px;
      height: 232px;
      left: 20px;
      top: 0px;
      animation: slider 3s infinite;
      .component-polygon1{
        box-sizing: border-box;
        position: absolute;
        width: 110.48px;
        height: 110.48px;
        left: 61px;
        top: 40px;
        border: 1px solid #288E9C;
        @include rotate(rotate(15deg));
      }
    }
    .polygon-2 {
      position: absolute;
      width: 232px;
      height: 232px;
      left: 1101px;
      top: 1900px;
      animation: slider2 3s infinite;
      .component-polygon2 {
        position: absolute;
        top: 80px;
        width: 128.95px;
        height: 129.87px;
        background: url('./icons/Polygon 2.svg');
        background-repeat: no-repeat;
        @include rotate(rotate(40deg));
      }
    }
    .polygon-3 {
      position: absolute;
      width: 128.95px;
      height: 129.87px;
      left: 850px;
      bottom: 0;
      animation: slider2 3s infinite;
      .component-polygon3 {
        position: absolute;
        top: 510px;
        width: 128.95px;
        height: 129.87px;
        background: url('./icons/Polygon 4.svg');
        background-repeat: no-repeat;
        @include rotate(rotate(40deg));
      }
    }

  }
  .vector {
    position: absolute;
    width: 676.12px;
    height: 702.21px;
    left: -176px;
    top: -254px;
    .bg-vector {
      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      background: linear-gradient(180deg, rgba(37, 181, 201, 0.37) 0%, rgba(27, 44, 47, 0) 100%);
      filter: blur(132px);
    }
  }
  .landing-container {
    text-align: center;
    cursor: default;
    .landing-hello {
      font-family: $body-font;
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 10px;
      color: $body-text;
    }
    .landing-title {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      color: $header-text;
      h1 {
        font-family: $landing-font;
        font-size: 64px;
        font-weight: 700;
      }
    }
    .desc-landing {
      font-family: $body-font;
      font-size: 16px;
      font-weight: 400;
      color: $body-text;
      line-height: 24px;
      letter-spacing: 0.015em;
      max-width: 771px; 
    }
  }
  .landing-buttons-container {
    display: flex;
    margin-top: 100px;
    gap: 30px;
    .landing-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 5px;
      padding: 10px 30px;
      color: $header-text;
      font-family: $body-font;
      font-size: 16px;
      letter-spacing: 0.007em;
      cursor: pointer;
      .dynamic-icons {
        height: 20px;
        overflow: hidden;
        li {
          position: relative;
          bottom: 0px;
          .buttons-icon {
            position: relative;
            font-size: 20px;
          }
        }
      }
    }
    .reachme {
      background-color: $main-button;
      font-weight: 600;
      transition-duration: 1s;
      transition-property: all;
    }
    .reachme:hover{
      @extend %button-hover;
    }
    .resume {
      transition-duration: 1s;
      transition-property: all;
      font-weight: 400;
      border: 1px solid white;
    }
    .resume:hover {
      color: $hover-button;
      border: 1px solid $hover-button;
      .dynamic-icons {
        li {
          animation: sliding 1s forwards;
        }
      }
    }
    @keyframes sliding {
      0% {
        bottom: 0px;
      }
      100%{
        bottom: 24px;
      }
    }
  }
}
.vector-bottom {
  position: absolute;
  width: 600px;
  height: 1505px;
  right: 0px;
  top: 800px;
  .bg-vector-bottom {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, rgba(37, 181, 201, 0.37) 0%, rgba(27, 44, 47, 0) 100%);
    filter: blur(132px);
  }
}
.landing-bottom {
  padding: {
    top: 300px;
  }
  z-index: 1;
  .pict-landing-slider {
    display: none;
  }
  .pict-landing-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .landing-bottom-left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .porto1-left {
        background-color: rgba(245, 208, 208, 1);
        width: 360px;
        height: 340px;
      }
      .porto2-left {
        background-color: rgba(245, 208, 208, 1);
        width: 360px;
        height: 470px;
      }
    }
    .landing-bottom-right {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .porto1-right {
        background-color: rgba(245, 208, 208, 1);
        width: 760px;
        height: 526px;
      }
      .landing-bottom-right-bottom {
        display: flex;
        gap: 40px;
        .porto2-right {
          background-color: rgba(245, 208, 208, 1);
          width: 360px;
          height: 280px;
        }
      }
    }
  }
}

.landing-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  padding: {
    top: 200px;
    bottom: 200px;
  }
  .landing-bg {
    position: absolute;
    background-image: url('./icons/Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 390px;
    height: 400px;
  }
  // .polygon-1 {
  //   position: absolute;
  //   width: 232px;
  //   height: 232px;
  //   left: 20px;
  //   top: 0px;
  //   animation: slider 3s infinite;
  //   .component-polygon1{
  //     box-sizing: border-box;
  //     position: absolute;
  //     width: 110.48px;
  //     height: 110.48px;
  //     left: 61px;
  //     top: 40px;
  //     border: 1px solid #288E9C;
  //     @include rotate(rotate(15deg));
  //   }
  // }
  // .polygon-2 {
  //   position: absolute;
  //   width: 232px;
  //   height: 232px;
  //   left: 1101px;
  //   top: 1900px;
  //   animation: slider2 3s infinite;
  //   .component-polygon2 {
  //     position: absolute;
  //     top: 80px;
  //     width: 128.95px;
  //     height: 129.87px;
  //     background: url('./icons/Polygon 2.svg');
  //     background-repeat: no-repeat;
  //     @include rotate(rotate(40deg));
  //   }
  // }
  // .polygon-3 {
  //   position: absolute;
  //   width: 128.95px;
  //   height: 129.87px;
  //   left: 850px;

  //   bottom: 0;
  //   animation: slider2 3s infinite;
  //   .component-polygon3 {
  //     position: absolute;
  //     top: 510px;
  //     width: 128.95px;
  //     height: 129.87px;
  //     background: url('./icons/Polygon 4.svg');
  //     background-repeat: no-repeat;
  //     @include rotate(rotate(40deg));
  //   }
  // }
  .title-aboutme {
    font-family: $body-font;
    font-weight: 700;
    font-size: 34px;
    color: $header-text;
    margin-bottom: 30px;
    letter-spacing: 0.005em;
  }
  .desc-aboutme {
    font-family: $body-font;
    font-weight: 400;
    color: $body-text;
    font-size: 16px;
    letter-spacing: 0.015em;
    line-height: 24px;
    max-width: 968px;
  }
}


@keyframes slider {
  0% {
    top: 2320px;
  }
  50% {
    top: 2350px;
  }
  100% {
    top: 2320px;
  }
}
@keyframes slider2 {
  0% {
    top: 1900px;
  }
  50% {
    top: 1930px;
  }
  100% {
    top: 1900px;
  }
}

@media only screen and (max-width: 600px) {
  .landing {
    .polygon-down {
      display: none;
    }
    .home-icons {
      display: flex;
      color: $body-text;
      margin-top: 50px;
      font-size: 24px;
      gap: 30px;
    }
    .landing-container {
      .landing-hello {
        font-weight: 400;
        font-size: 13px;
      }
      .landing-title {
        h1 {
          font-size: 24px;
          font-weight: 700;
        }
      }
      .desc-landing {
        font-family: $body-font;
        font-size: 14px;
        font-weight: 400;
        color: $body-text;
        line-height: 20px;
        letter-spacing: 0.01em;
        max-width: 343px;
      }
    }
    .landing-buttons-container {
      flex-direction: column;
      margin-top: 50px;
      gap: 20px;
      .landing-buttons {
        padding: 10px 20px;
        font-size: 14px;
        letter-spacing: 0.001em;
      }
    }
  }
  .landing-bottom {
    padding: {
      top: 60px;
    }
    z-index: 1;
    .pict-landing-slider {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .porto1-left {
        width: 276px;
        height: 260.62px;
        background: $header-text;
      }
      .porto2-left {
        width: 276px;
        height: 260.62px;
        background: $header-text;
      }
    }
    .pict-landing-bottom {
      display: none;
    }
  }
  .landing-aboutme {
    margin-top: 100px;
    .title-aboutme {
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: -0.02em;
      line-height: 19px;
    }
    .desc-aboutme {
      font-size: 14px;
      letter-spacing: 0.01em;
      line-height: 20px;
      max-width: 350px;
    }
  }
}