@import './root.scss';

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  padding: {
    top: 230px;
    bottom: 250px;
  }
  .vector {
    position: absolute;
    width: 676.12px;
    height: 702.21px;
    left: -176px;
    top: -254px;
    .bg-vector {
      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      background: linear-gradient(180deg, rgba(37, 181, 201, 0.37) 0%, rgba(27, 44, 47, 0) 100%);
      filter: blur(132px);
    }
  }
  .landing-container {
    text-align: center;
    cursor: default;
    .landing-hello {
      font-family: $body-font;
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 10px;
      color: $body-text;
    }
    .landing-title {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      color: $header-text;
      h1, .dynamic-title {
        font-family: $landing-font;
        font-size: 64px;
        font-weight: 700;
      }
      .dynamic-texts {
        height: 90px;
        overflow: hidden;
        li {
          position: relative;
          top: 0;
          animation: slide 12s steps(4) infinite;
        }
        .dynamic-title {
          position: relative;
          line-height: 90px;
        }
        .dynamic-title::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: 100%;
          background: $background;
          border-left: 1px solid #fff;
          animation: typing 5s steps(12) infinite;
        }
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }
      @keyframes typing {
        40%, 60% {
          left: calc(100% + 30px);
        }
        100% {
          left: 0;
        }
      }
    }
    .desc-landing {
      font-family: $body-font;
      font-size: 16px;
      font-weight: 400;
      color: $body-text;
      line-height: 24px;
      letter-spacing: 0.015em;
    }
  }
  .landing-buttons-container {
    display: flex;
    margin-top: 100px;
    gap: 30px;
    .landing-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 5px;
      padding: 10px 30px;
      color: $header-text;
      font-family: $body-font;
      font-size: 16px;
      letter-spacing: 0.007em;
      cursor: pointer;
      .dynamic-icons {
        height: 20px;
        overflow: hidden;
        li {
          position: relative;
          bottom: 0px;
          .buttons-icon {
            position: relative;
            font-size: 20px;
          }
        }
      }
    }
    .reachme {
      background-color: $main-button;
      font-weight: 600;
      transition-duration: 1s;
      transition-property: all;
    }
    .reachme:hover{
      @extend %button-hover;
    }
    .resume {
      transition-duration: 1s;
      transition-property: all;
      font-weight: 400;
      border: 1px solid white;
    }
    .resume:hover {
      color: $hover-button;
      border: 1px solid $hover-button;
      .dynamic-icons {
        li {
          animation: sliding 1s forwards;
        }
      }
    }
    @keyframes sliding {
      0% {
        bottom: 0px;
      }
      100%{
        bottom: 24px;
      }
    }
  }
}
.vector-bottom {
  position: absolute;
  width: 600px;
  height: 1505px;
  right: 0px;
  top: 800px;
  .bg-vector-bottom {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, rgba(37, 181, 201, 0.37) 0%, rgba(27, 44, 47, 0) 100%);
    filter: blur(132px);
  }
}
.landing-bottom {
  padding: {
    top: 300px;
  }
  z-index: 1;
  .pict-landing-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .landing-bottom-left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .porto1-left {
        background-color: rgba(245, 208, 208, 1);
        width: 360px;
        height: 340px;
      }
      .porto2-left {
        background-color: rgba(245, 208, 208, 1);
        width: 360px;
        height: 470px;
      }
    }
    .landing-bottom-right {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .porto1-right {
        background-color: rgba(245, 208, 208, 1);
        width: 760px;
        height: 526px;
      }
      .landing-bottom-right-bottom {
        display: flex;
        gap: 40px;
        .porto2-right {
          background-color: rgba(245, 208, 208, 1);
          width: 360px;
          height: 280px;
        }
      }
    }
  }
}
.landing-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 400px;
  .polygon-1 {
    position: absolute;
    width: 232px;
    height: 232px;
    left: 20px;
    top: 2250px;
    animation: slider 3s infinite;
    .component-polygon1{
      box-sizing: border-box;
      position: absolute;
      width: 110.48px;
      height: 110.48px;
      left: 61px;
      top: 61px;
      transform: rotate(15deg);
      border: 1px solid #288E9C;
    }
  }
  .title-aboutme {
    font-family: $body-font;
    font-weight: 700;
    font-size: 34px;
    color: $header-text;
    margin-bottom: 30px;
    letter-spacing: 0.005em;
  }
  .desc-aboutme {
    font-family: $body-font;
    font-weight: 400;
    color: $body-text;
    font-size: 16px;
    letter-spacing: 0.015em;
    line-height: 24px;
  }
}
@keyframes slider {
  0% {
    top: 2250px;
  }
  50% {
    top: 2280px;
  }
  100% {
    top: 2250px;
  }
}