@import './root.scss';

.navbar {
  background-color: $background;
  position: absolute;
  width: 100%;
  z-index: 999;
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $body-text;
    .navbar-left {
      display: flex;
      gap: 10px;
      .icon-kholis {
        background: url('../styles/Vector.png');
        background-size: cover;
        width: 20px;
      }
      .navbar-title {
        font-family: $navbar-font;
        font-size: 16px;
      }
    }
    .navbar-right {
      display: flex;
      gap: 30px;
    }
  }  
}