@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "./root.scss";

.item {
  width: 100%;
  padding: 20px;
}

.b-refs-buttons {
  display: flex;
  gap: 20px;
  margin: 200px 0 20px 0;
  font-family: $body-font;
  .arrow-right {
    background: url("./icons/arrow1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    cursor:pointer;
  }
  .arrow-left {
    background: url("./icons/arrow2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    color: white;
  }
}

.img1 {
  background: url("./icons/Logo.png");
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
}
.img2 {
  background: url("./icons/dummy1.webp");
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
  .item {
    margin-top: 100px;
    gap: 30px;
  }
}