.item {
  display: none;
  width: 50%;
  align-items: center;
  margin-top: 200px;
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .img-slider {
      width: 200px;
      height: 200px;
      background-color: yellow;
    }
  }
}

@media only screen and (max-width: 600px) {
  .item {
    display: flex;
    margin-top: 100px;
  }
}